p {
    color: #555;
    font-family: arial;
    background: #00FF00;
    font-size: "16pt";
    font-weight: bold;
}

p.grop {
    color: rgb(255, 0, 0);
    font-family: verdana;
    font-size: "14pt";
    font-weight: normal;
    background: #0800ff;
}

p#ones {
    color: #00FF00;
    background: #ffffff;
}